nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: $navHeight;
  background-color: #333;

  .wrap {
    display: block;
    padding: 0;
  }

  z-index: 9999;

  a {
    color: $yeezyGray;
    line-height: $navHeight;
    height: $navHeight;
    display: inline-block;
    text-decoration: none;
    padding: 0 10px;
    border-bottom: 0px solid $yeezyGray;
    padding-bottom: 0px;

    transition: all 0.3s;

    &:hover {
      border-bottom-width: 3px;
      color: $yeezyGray;
    }

    &.home {
      font-weight: bolder;
      letter-spacing: 1px;
    }
  }

  .links {
    float: right;
    display: inline-block;
  }

  .courses {
    display: inline-block;
  }
  .dropdown {
    width: 150px;
    z-index: 9999;
    cursor: pointer;

    .drop-main {
      z-index: 9999;
      background-color: #333;
      display: inline-block;
      width: 100%;
      height: $navHeight;
      vertical-align: middle;
      line-height: $navHeight;
      color: $yeezyGray;
      padding: 0 10px;
      margin-top: -2px;

      &:hover {
        border: none;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 5px;
      border-left: 3px solid $yeezyGray;
      border-bottom: 3px solid $yeezyGray;
      // border-radius: 5px;
      z-index: 9999;
      
      margin-top: -8px;
      width: 10px;
      height: 10px;
      
      transform: rotate(-45deg);
      transform-origin: center;
    }

    &:hover, &:focus, &:active {
      ul {
        top: $navHeight - 2;
      }
    }


    ul {
      position: absolute;
      top: -380px;
      z-index: -1;
      width: 150px;

      padding: 0;
      list-style-type: none;

      transition: top 0.3s;

      li {
        a {
          width: 100%;
          background-color: #333;
        }
      }
    }
  }
}