#yeezyhead {
  height: calc(100vh - #{$navHeight});
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/img/background.jpg');
  background-size: cover;
  background-position: center;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $yeezyWhite;
    text-align: center;

    h1 {
      font-size: 62px;
      margin: 15px 0;
      margin-bottom: 0;
      border: none;
    }

    p {
      margin: 15px 0;
    }

    button {
      background-color: $yeezyRed;
      font-size: 16px;
      min-width: 150px;
      margin: auto;

      &:hover {
        background-color: $yeezyDarkRed;
      }
    }
  }
}