<body ui-view>

    <!--use this tag to write in markdown-->
    <!--source-->
    <!--https://github.com/btford/angular-markdown-directive-->
    <h1>HTML/CSS</h1>
    <p>The following is an example of a standard html page</p>

    <div data-gist='48e659a15e1331448892'></div>
    <p>
        What you'll notice about this is that there is a < and > inside is head then there is a slash going through one of them these are called tags they mark different parts of a page  head is just configuration that sets up things for you the body is where the content of the page goes now lets look at some examples
    </p>

    <div data-gist='c50a0bb992796ba814ad'></div>

    <p>
        Notice what happens the p tag just means paragraph h1 is a header it makes the text bigger and you can use more tags to change the size like this h1, h2, h3, h4, h5, h6, now youll notice that the link doesn't work and that is because it is not setto go anywhere finally there is the br tag which means break usually we will use css to do breaks.
    </p>

</body>