extends ../layouts/application

block content
  section(ui-view)

  script(type="text/javascript", src="/js/angular.js")
  script(type="text/javascript", src="/js/angular-ui-router.js")
  script(type="text/javascript", src="/js/angular-sanitize.js")
  script(type="text/javascript", src="/js/showdown.js")
  script(type="text/javascript", src="/js/markdown.js")
  script(type="text/javascript", src="/js/app.js")
  script(type="text/javascript", src="/js/controllers.js")