extends ../layouts/application

block content
  .wrap
    textarea.code.
      var fs = require('fs');
      fs.readdir('./', function (err, data) {
        if (err) {return console.error(err);}
        console.log('ok');
        console.log('Asynchronous read: ' + data);
      });
    button.run Run Code
    .ran-code
  script(src="/socket.io/socket.io.js")
  script(src="/js/socket.js")